<div class="container mt-5" *ngIf="checkoutForm">
    <div class="row">
        <div class="col-8">
            <app-stepper #appStepper>
                <cdk-step [label]="'Address'" [completed]="addressForm?.valid">
                    <app-checkout-address [checkoutForm]="checkoutForm" />
                </cdk-step>
                <cdk-step [label]="'Delivery'" [completed]="deliveryForm?.valid">
                    <app-checkout-delivery [checkoutForm]="checkoutForm" />
                </cdk-step>
                <cdk-step [label]="'Review'">
                    <app-checkout-review [checkoutForm]="checkoutForm" />
                </cdk-step>
            </app-stepper>
        </div>
        <div class="col-4">
            <app-order-totals></app-order-totals>
        </div>
    </div>
</div>